@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}

#wrapper {
    width: 100%;
    height: 100%;
}
#header {
    width: 100%;
    padding:0px 30px;
    margin-top:33px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#626A67;
    text-decoration: none;
}

#actions {
    display: flex;
    color: #1d1a1a;
}

#actions .item {
    margin-left:22px;
    color: #1d1a1a;
}
#actions .item a{
    color: #1d1a1a;
    text-decoration: none;
}
#icon-key {
    display: flex;
    color:#626A67;
}

#banner {
    width: 100%;
    background-image :url("images/bannerrr.png");
    height: 463px;
    margin-top:40px;
    display: flex;
    padding:0% 133px;
    position:relative;
}

#banner .box-left ,#banner .box-right {
    width: 50%;
    
}

#banner  .box-left h2 {
    font-size:48px;
    margin-top:75px;
    color:#fff;
}

#banner .box-left p {
    color:#D0D0D0;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top:41px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}

#banner .box-left button:hover {
    background:orange;
}

#banner .box-right {
    padding-left:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin:0px 20px;
    animation :animation 3s infinite linear; 
}


#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{
    
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

.to-bottom {
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);
}



#wp-products {
    padding-top:116px;
    padding-bottom: 78px;
    padding-left:134px;
    padding-right:134px;
}

#wp-products h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
}


#list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#list-products .item {
    width: 290px;
    height: 374px;
    background:#362f2f;
    border-radius: 10px;
    margin-bottom: 50px;
}

#list-products .item img {
    display: block;
    margin:0px auto;
    margin-top:17px;
}

#list-products .item .stars {

    display: flex;
    margin:0px auto;
    width: 50%;
}

#list-products .item .name {
    text-align: center;
    color:#fff;
    font-weight: bold;
    margin-top:21px;
}

#list-products .item .desc {
    text-align: center;
    color:#aeafae;
}

#list-products .item .price {
    text-align: center;
    color:#f42424;
    font-weight: bold;
    margin-top:20px;
}
#sticky-table{
    width: 100%;
}
#table th,
#table td{
    padding: 15px x 30px ;
    text-align: left;
}
#table th{
    color: #354d67;
    font-weight: 600;
}

.list-page {
    width: 50%;
    margin:0px auto;
}

.list-page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.list-page .item {
    margin:0px 15px;
    width: 37px;
    height: 37px;
    background:#362f2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-page .item a {
    color:#fff;
    text-decoration: none;
}


#saleoff {
    width: 100%;
    display: flex;
    height: 322px;
}
#saleoff .box-left ,#saleoff .box-right {
    width: 50%;
}
#saleoff .box-left {
    background:#3e413e;
    text-align: center;
    min-height: 322px;
}

#saleoff .box-left h1 {
    padding-top:38px;
}
#saleoff .box-left span:nth-child(1)
{
    color:#fff;
    font-size:50px;
}

#saleoff .box-left span:nth-child(2)
{
    color:orange;
    font-size:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#saleoff .box-left span:nth-child(3)
{
    color:#fff;
    font-size:40px;
}

#saleoff .box-right {
    background-image:url("images/off.png");
}


#comment {
    width: 1012px;
    height: 478px;
    margin:0px auto;
    margin-top:184px;
    margin-bottom: 50px;
}

#comment h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size:32px;
    color:#626a67;
}


#comment-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    list-style: none;
    overflow: hidden;
}

#list-comment {
    width: 100%;
    height: 100%;
    list-style: none;
    transition:0.5s;
}

#list-comment .item {
    width: 100%;
    height: 100%;
    background:#362f2f;
    border-radius: 20px;
    padding-top:50px;
}

#list-comment .item .avatar {
    text-align: center;
    margin-top:13px;
}

#list-comment .item .stars {
    display: flex;
    margin:0px auto;
    width: 50%;
    margin-top:32px;
    justify-content: center;
    align-items: center;
}

#list-comment .item .name {
    text-align: center;
    font-weight: bold;
    color:#fff;
}

#list-comment .item .text {
    padding:20px 50px;
    color:#fff;
   
}

#footer {
    width: 100%;
    background:rgb(0,0,0,0.79);
    height: 300px;
    margin-top:338px;
    padding:0px 63px;
    padding-top:50px;
    display: flex;
    justify-content: space-around;
}
#Copyright {
    text-align: center;
    width: 100%;
    padding: 50px;
    height: 30px;
    background:rgba(3, 131, 250, 0.79) 0.79);
    
}

#footer .box {
    width: 250px;
    color:#fff;
}
#footer .box h3{
    font-size: 20px;
    color: #fff;
}
#footer .box .quick-menu .thanhtoan{
    right: 500px;
}

#footer .box .quick-menu {
    padding: 0px 0px 0px 0px;
}
#footer .box ul {
    padding: 0px 0px 0px 20px;
}


#footer .box .quick-menu .item{
    margin-bottom:12px;

}
#footer .box .quick-menu ,.item a{
    color: #fff;
    text-decoration: none;
}

#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color: #fff;
    margin-top:30px;
}


   table{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%; 
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
   
   }
   td , th{
    padding: 10px 20px;
    text-align: center;
    
   
   }
   th{
    background-color: rgb(0, 102, 255);
    color: #eeeeee;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
   
   }
   tr{
    width: 100%;
    background-color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
   }
   tr:nth-child(even){
    background-color: #eeeeee;
   }

#thanhtoan{
    width: 100%;
  justify-content: space-between;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding:25px;
  }
  
  .container form{
    padding:20px;
    width:600px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }
  
  .container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .container form .row .col{
    flex:1 1 250px;
  }
  
  .container form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .container form .row .col .inputBox{
    margin:15px 0;
  }
  
  .container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
  }
  
  .container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }
  
  .container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
  
  .container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .container form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  
  .container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  
  .container form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #27ae60;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .container form .submit-btn:hover{
    background: #2ecc71;
  }

select{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
    text-align: center;
}


.modal {
	position: fixed;
	top: 0;
	left: 0;
    height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal-content{
    background: #fff;
    min-width: 500px;
    position: relative;
    right: 35%;
    transform: translateX(-35);

}
.modal-title h3{
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.modal_header {
	background-color: #03682d;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	font-size: 17px;
}

.modal_body	{
	padding: 15px;
}

.modal_body h4{
    font-family: 'Nunito', sans-serif;
    color: palevioletred;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 50px;
    font-size: 26px;
}
.modal_body h5{
    color: red;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Noto Serif', serif;
}
.modal_body p{
    font-family: 'Dancing Script', cursive;
}
.modal_footer {
	padding: 15px;
	text-align: right;
}

:root {
	--green-color: rgb(8, 145, 3);
}
.modal_footer button {
	outline: none;
	border: none;
	padding: 10px 20px;
	background-color: var(--green-color);
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
}

i {
	cursor: pointer;
	font-size: 18px;
}

